@import './conteiners/conteiner_apresentacao.css';
@import './conteiners/conteiner_formulario.css';
@import './conteiners/container_tabela.css';

* {
    padding: 0px;
    margin: 0px auto;
}

body {
    background: #0F88F9;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    div#apresentacao {
        display: none;
    }
}

div.container {
    margin: 0px solid;
    padding: 0px;
    width: 80vw;
    height: 100vh;

    display: flex;
    justify-content: space-around;
}

div.containerInterno {
    width: 45vw;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}