<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/index.css">
    <title>Formulário</title>
</head>
<body>
    <div class="containerLogin">
        <form action="/login" method="POST">
            <label for="nome">Nome:</label>
            <input name="nome" type="text" placeholder='Nome'>
            <label for="senha">Senha:</label>
            <input name='senha' type="password">
            <input type="submit" value="Enviar" style="height:2rem;background: rgba(231, 195, 12, 0.527);">
        </form>

    </div>    
</body>
</html>

